@model OnurShopSecond.Models.ViewGroupModel

@{
    ViewData["Title"] = "UrunGuruplari";
}

<form asp-controller="Login" asp-action="LogOut2">
    <div class="form-group" style="text-align:center">
        <input type="submit" value="Çıkış Yap" class="btn btn-outline-danger" />
    </div>
</form>

<h4 style="color:darkgreen; text-align:center"> Ürün eklemek için yeni bir ürün gurubu oluşturulabilir veya halihazırda bulunan ürün gurubu seçilerek ürün ekleme işlemi yapılabilir </h4>

<h3 style="color:darkblue">Yeni Gurup Ekleme</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="UrunGurubuEkle">
            <div class="form-group">
                <input asp-for="EklenecekUrunGurubununAdi" placeholder="Eklenecek Ürun Gurubunun Adı" class="form-control" required autocomplete="off"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<h2 style="text-align:center">
    <span style="color:darkred; font-weight:bolder">Ürün Gurupları </span>Aşağıda Listelenmiştir
</h2>


<h5 style="color:black">Ürün Ara (Ürün Adı) </h5>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="UrunAra">
            <div class="form-group">
                <input asp-for="arananText" placeholder="boşluk bırakmadan tek kelime girin" class="form-control" required autocomplete="off"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Ara" class="btn btn-outline-dark"  />
            </div>
        </form>
    </div>
</div>

<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th style="color:darkblue">Gurup Numarası</th>
            <th style="color:darkblue">Gurup Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.urunGurubuListesi)
        {
        <tr>
            <td>@item.GroupId</td>
            <td style="font-weight:bold">@item.GroupName</td>
            <td>
                <img src="~/images/gurup.png" alt="ürün gurubu" width="100" height="100" />
            </td>
            <td>
                <div class="btn btn-success">
                    <a href="@Url.Action("UrunGurubu", "Admin",new { selectedGroupId = item.GroupId })" style="font-weight:bold; color:black">
                        Gurubu Düzenle
                    </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
