<div data-aos="fade-up">1</div>
<div data-aos="fade-down">2</div>
<div data-aos="fade-right">3</div>
<div data-aos="fade-left">4</div>

<div data-aos="zoom-in">5</div>
<div data-aos="zoom-out">6</div>

<div data-aos="slide-up">7</div>

<div data-aos="flip-up">8</div>
<div data-aos="flip-down">9</div>
<div data-aos="flip-right">10</div>
<div data-aos="flip-left">11</div>