@model ZMO_Eskisehir_WebUI.Models.GroupOfModels;


<h4>Bülten İçin Bir Word Dosyası Yükleyin (<span style="font-weight:bold; color:red">.doc</span> uzantılı)</h4>
<hr />
<h3>.doc</h3>
<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="BasinBultenlerimizDosyaEklePost">
    <div class="form-group">
        <div class="col-md-10">
            <p>Basında Biz Kayıdı İçin Fotoğraf Ekle (SADECE TEK BİR DOSYA SEÇİNİZ)</p>
            <input type="file" name="files" multiple />
        </div>
        <div class="col-md-10">
            <input type="text" asp-for="id" readonly hidden />
        </div>
        <div class="col-md-10">
            <input type="text" asp-for="password" value="@Model.password" readonly hidden />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Yükle" />
        </div>
    </div>
</form>