@model ZMO_Eskisehir_WebUI.Models.GroupOfModels;


<h4>Etkinlik İçin Bir Fotoğraf Seçin</h4>

<hr />

<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="EtkinlikFotoEklePost">
    <div class="form-group">
        <div class="col-md-10">
            <p>Etkinlik İçin Fotoğraf Ekle (SADECE TEK BİR FOTOĞRAF SEÇİNİZ)</p>
            <input type="file" name="files" multiple />
        </div>
        <div class="col-md-10">
            <input type="text" asp-for="id" readonly hidden />
        </div>
        <div class="col-md-10">
            <input type="text" asp-for="password" value="@Model.password" readonly hidden />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Yükle" />
        </div>
    </div>
</form>