@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<button type="button" class="btn btn-success"><a asp-controller="Home" asp-action="Index" style="color:whitesmoke; font-weight:bold; text-decoration:none">Ana Sayfa</a></button>
<hr />
<h3>Şube Tarihçesi</h3>
<br />
<img src="~/Resources/Images/SubeTarihcesi/1.png" alt="subetarihcesi fotografı bulunamadı" style="max-width:100%" />
<img src="~/Resources/Images/SubeTarihcesi/2.png" alt="subetarihcesi fotografı bulunamadı" style="max-width:100%" />
<img src="~/Resources/Images/SubeTarihcesi/3.png" alt="subetarihcesi fotografı bulunamadı" style="max-width:100%" />
<img src="~/Resources/Images/SubeTarihcesi/4.png" alt="subetarihcesi fotografı bulunamadı" style="max-width:100%" />