@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <h4>Üyelik işlemleri için istenen evraklar</h4>
    <ol>
        <li>Diploma veya Geçici Mezuniyet Belgesi (Aslı ve Fotokopisi veya Noter Onaylı Sureti)</li>
        <li>Nüfus Cüzdanı Fotokopisi (Aslı Fotokopisi veya Noter, Muhtar, Nüfus İdaresi Onaylı Sureti, Nüfus Cüzdanının Süresi Dolmamış Olmalıdır.)</li>
        <li>4 adet fotoğraf</li>
        <li>Başvuru Formu(Mühendis tarafından doldurularak imzalanmış ve Şube Tarafından onaynalmış olacak.)</li>
        <li>Kayıt ve Kimlik Ücreti Alındığını Gösterir Makbuz</li>
        <li>Erkek Adaylar için; Askerlik Görevini Tamamlamış ise Terhis Belgesi Fotokopisi.</li>
        <li>Üyenin Ad ve Soyadı Değişikliği varsa; Evlilik Cüzdanı Fotokopisi, Boşanma durumunda Mahkeme Boşanma İlanı, Ad ve Soyadı Değişikliği Mahkeme İlamı</li>
    </ol>
    <hr />
    <h5><a href="~/Resources/Documents/kayitformu2020.docx" download="basvuruformu2020">  Başvuru Formunu İndirmek İçin Tıklayın</a></h5>

}