@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<button type="button" class="btn btn-success"><a asp-controller="Home" asp-action="Index" style="color:whitesmoke; font-weight:bold; text-decoration:none">Ana Sayfa</a></button>
<hr />
<h4>Yönetim Kurulu Üyeleri</h4>
<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Adı Soyadı</th>
            <th>Görevi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/muazzezgunay.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>MUAZZEZ GÜNAY</td>
            <td>ŞUBE BAŞKANI</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/cetintoroman.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>ÇETİN TORAMAN</td>
            <td>BAŞKAN VEKİLİ</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/duygudogandor.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>DUYGU DOĞANDOR</td>
            <td>YAZMAN ÜYE</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/sengulbuyukaksoy.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>ŞENGÜL BÜYÜKAKSOY</td>
            <td>SAYMAN ÜYE</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/deryaozkok.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>DERYA ÖZKÖK</td>
            <td>ÜYE</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/berkantcavdar.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>BERKANT ÇAVDAR</td>
            <td>YEDEK ÜYE</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/fatmaaydanozpinar.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>FATMA AYDIN ÖZPINAR</td>
            <td>YEDEK ÜYE</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/mustafademiral.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>MUSTAFA DEMİRAL</td>
            <td>YEDEK ÜYE</td>
        </tr>
        <tr>
            <td>
                <img src="~/Resources/Images/YonetimKuruluUyeleri/ergunozdemir.png" alt="fotograf" width="100" height="150" />
            </td>
            <td>ERGÜN ÖZDEMİR</td>
            <td>YEDEK ÜYE</td>
        </tr>
    </tbody>
</table>